@model List<String>
<br /><br />
<div class="row">
    <div class="col-md-1"></div>
@using (Html.BeginForm("Index", "home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
      <div class="form-horizontal col-md-6">

          @Html.ValidationSummary(true, "", new { @class = "text-danger" })

          <div class="form-group">
              <label for="Number" class="control-label col-md-5">Enter a number to memorize</label>
              <div class="col-md-4">
                  <input type="text" name="Number" id="Number" class="form-control" />


                  <span class="field-validation-valid text-danger" data-valmsg-for="Number" data-valmsg-replace="true"></span>
              </div>
          </div>
          <div class="form-group">
              <label for="MinimumWordCount" class="control-label col-md-5">Minimum non-wildcard letters<br /> (per word)</label>
              <div class="col-md-4">
                  @Html.DropDownList("MinimumWordCount", null, new { @class = "form-control" })
              </div>
          </div>


          <br />
          <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Generate Phrase" class="btn btn-primary" />
              </div>
          </div>

      </div>
}




        <div class="col-md-4">
            <h2>
                @if (Model != null)
                            {

                                Boolean IsNumber = true;
                                foreach (String Word in Model)
                                {
                                    if (IsNumber)
                                    {
                                    <span>(@Word) - </span>
                                    IsNumber = false;
                                    }
                                    else
                                    {
                                        @Word;
                                    }

                                }
            <br />
            using (Html.BeginForm("Index", "home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="hidden" name="Number" id="Number" value="@ViewBag.RegeneratedNumber" />
                        
                                    <input type="hidden" name="MinimumWordCount" id="MinimumWordCount" value="@ViewBag.MinimumWordCountNumber" />
                        
                                    <br />
                        
                                    <input type="submit" value="Regenerate New Phrase" class="btn btn-default col-md-offset-1" />

}


                }
else
{
            @ViewBag.Incomplete;
            <br />
}
            </h2>
        </div>
</div>

<br /> <br /><br /><br /><br /> <br /><br /><br /><br /><br />

    <div class="row">


        <div class="col-md-12">


            @if (ViewBag.PastPhrases.Count > 0)
            {
                if (ViewBag.PastPhrases.Count > 0)
                {
                    <h2>
                        Past Phrases    
                    </h2>
                    <br />
                }
                for (int iCount = (ViewBag.PastPhrases.Count - 1); iCount > -1; iCount--)
                {
                    Boolean IsNumber = true;
                    <p>
                        @foreach (String Word in ViewBag.PastPhrases[iCount])
                        {
                            if (IsNumber)
                            {
                                <span>(@Word) - </span>
                                IsNumber = false;
                            }
                            else
                            {
                                @Word;
                            }
                        }
                    </p>
                    <hr>

                }
                <input type="button" value="Clear Past Phrases" onclick="location.href='@Url.Action("ClearPhases", "home")'" class="btn btn-primary" />
            }

        </div>
    </div>
    <br /><br />
    <div id="donation_div">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="LT347USCP2E9J">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Click to donate">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <h4>Donations primarily go to maintaining the site and keeping it free for all to use. <br />
            Even small contributions make a big difference.</h4>
    </div>
